@import '../../designSystem/colors';
@import '../../designSystem/fonts';
@import '../../designSystem/spacings';

.section-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: $spacing-0 $spacing-auto $spacing-large;
  padding: $spacing-large;
  font-family: $font-family-headings;
  position: relative;
  max-width: 80%;
  border: 1px solid black;

  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-30;
    padding: $spacing-large $spacing-0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--132 {
      .section-panel-details {
        &:nth-child(1) {
          order: 1
        }
        &:nth-child(2) {
          order: 3
        }
        &:nth-child(3) {
          order: 2
        }
      }
    }

    &--213 {
      .section-panel-details {
        &:nth-child(1) {
          order: 2
        }
        &:nth-child(2) {
          order: 1
        }
        &:nth-child(3) {
          order: 3
        }
      }
    }

    &--231 {
      .section-panel-details {
        &:nth-child(1) {
          order: 3
        }
        &:nth-child(2) {
          order: 1
        }
        &:nth-child(3) {
          order: 2
        }
      }
    }

    &--312 {
      .section-panel-details {
        &:nth-child(1) {
          order: 2
        }
        &:nth-child(2) {
          order: 3
        }
        &:nth-child(3) {
          order: 1
        }
      }
    }


    &--321 {
      .section-panel-details {
        &:nth-child(1) {
          order: 3
        }
        &:nth-child(2) {
          order: 2
        }
        &:nth-child(3) {
          order: 1
        }
      }
    }
  }
}
