@import '../../designSystem/spacings';

.header {
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    max-width: 300px;
    padding: $spacing-large $spacing-0;
  }
}
