@import '../../../designSystem/colors';
@import '../../../designSystem/fonts';
@import '../../../designSystem/spacings';

.section-panel-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-0 $spacing-large;

  &__title {
    padding: $spacing-small $spacing-0;
    font-size: $font-size-18;
    font-family: $font-family-headings;
    font-weight: $font-weight-bold;
  }
}
