@import '../../../designSystem/colors';
@import '../../../designSystem/fonts';
@import '../../../designSystem/spacings';

.button {
  outline: none;
  border: none;
  width: 100%;
  transition: all 0.3s ease;
  padding: $spacing-medium;
  font-weight: $font-weight-bold;
  font-size: $font-size-16;
  font-family: $font-family-headings;

  &--primary {
    background-color: $white-color;
    color: $black-color;

    &:hover {
      background-color: $accent-color;
      color: $white-color;
    }
  }
}
