@import '../../designSystem/colors';
@import '../../designSystem/fonts';
@import '../../designSystem/spacings';

.pdf-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;

  button {
    width: 80px;
    height: 80px;
    font-size: $font-size-40;
    border-radius: 10px;
    border: 1px solid $black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: $white-color;
    cursor: pointer;
  }
}
