.layout {
  display: grid;
  grid-template-areas: "header header"
                       "sidebar main";
  grid-template-columns: 400px 1fr;

  &__header {
    grid-area: header;
  }

  &__main-content {
    grid-area: main;
  }

  &__sidebar {
    grid-area: sidebar;
  }
}
